<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--伪静态路径最大深度-->
    <add key="rewritedepth" value="10"/>
    <!--自定义响应头，key-value用冒号隔开，多个头用封号隔开-->
    <add key="responseheaders" value="Access-Control-Allow-Origin:*;Access-Control-Allow-Methods:GET,POST;Access-Control-Allow-Headers:Content-Type"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>